# Changelog - {{ date }}

release: {{ version }}

{% for (version, change_array) in changes -%}
## {{ version }}

### Added in {{ version }}
{% for change in change_array -%}
{% if change.change_type.to_string() == "Feature" %}
- {{ change.message }} By: {{ change.author}} Date: {{ change.date }}
{% match change.link -%}
  {% when Some with (link) %}
  - [Link]({{ link }})
  {% when None %}
{%- endmatch %}
{% endif %}
{%- endfor %}
### Bug Fixes in {{ version }}

{% for change in change_array -%}
{% if change.change_type.to_string() == "Fix" %}
- {{ change.message }} By: {{ change.author}} Date: {{ change.date }}
{% match change.link %}
  {% when Some with (link) %}
  - [Link]({{ link }})
  {% when None %}
{% endmatch %}
{% endif %}
{%- endfor %}
{%- endfor %}